<div id="title">
    <a href="https://fontmeme.com/pokemon-font/"><img src=" <%= url %> " alt="pokemon-font"></a>
</div>
<section id="links">
    <h3><a href=" <%= route %> "> 
        <%= linkToRoute %>
    </a></h3>
    <i class="far fa-dot-circle fa-3x"></i>
</section>
